<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--#LOGGER PATTERN-->
            <!--#%d - outputs the time which the log message occurred in formats that SimpleDateFormat allows.-->
            <!--#%thread - outputs the name of the thread that the log message occurred in.-->
            <!--#$-5level - outputs the logging level of the log message.-->
            <!--#%logger{36} - outputs the package + class name the log message occurred in. The number inside the brackets represents the maximum length of the package + class name. If the output is longer than the specified length it will take a substring of the first character of each individual package starting from the root package until the output is below the maximum length. The class name will never be reduced. A nice diagram of this can be found in the Conversion word docs.-->
            <!--#%M - outputs the name of the method that the log message occurred in (apparently this is quite slow to use and not recommended unless your not worried about performance or the method name is particularly important to you).-->
            <!--#%msg - outputs the actual log message.-->
            <!--#%n - line break-->
            <!--#%magenta() - sets the colour of the output contained in the brackets to magenta (other colours are available).-->
            <!--#highlight() - sets the colour of the output contained in the brackets to the depending on the logging level (for example ERROR = red).-->

            <pattern>%date %-4relative %magenta([%thread]) %highlight(%-5level) %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/application-%d{yyyy-MM-dd_HH}_00.%i.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 80MB -->
                <maxFileSize>80MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--<pattern>%d %5p | %t | %-54logger{55} | %m %n</pattern>-->
            <pattern>%date %-4relative %magenta([%thread]) %highlight(%-5level) %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>